



{% extends "Login/LoginBase.html" %}

{% block content %}
{% load static %}

<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Password Reset Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        Enter email and a mail will be sent with instructions to reset password
                    </div>
                    <form id="id_password_reset_form" method="POST" class="form-signin">{% csrf_token %}
                        <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
                          <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true" >
                        <button id="id_submit_btn" class="btn btn-lg btn-primary btn-block" >Send reset email</button>  
                      </form>
                      
                    {% comment %} <form method="POST">
                        {% csrf_token %}
                        {{ password_form}}
                        <input class="btn btn-primary btn-block" type="submit" value="Reset Password">
                    </form> {% endcomment %}
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}