{% extends "manageProfile/base.html" %}

{% block content %}
{% load static %}
<style>

    .link{
        width:10%;
        height:100px;
        padding:2rem;
         border:solid 2px;
         justify-content:center;
         align-content:center:
    }

</style>
{% if p %}
  {% if p.NumProfile > 0 %}
    <a href="{% url 'viewPerson' default="none"  AtheId=0 %}">Back to default profile</a>
  {% endif %}
{% endif %}
   
<div>
    <div class="row container" style="padding:5rem; display:flex;flex-direction:row;justify-content:center;align-content:center">

        
      <!--createOfficial   style="padding:0.5rem;"-->
      <div style="padding:0.5rem;">
        <a class="link" href="{% url 'creatProfile' id=person profile="Athlate" parent=0 %}">Athlete</a>
      </div>

      <br/>
      <br/>
   
      <div style="padding:0.5rem;" >
        <a class="link" href="{% url 'CreateCoach' id=person  %}">Coach</a>
      </div >
      <br/>
      <br/>
      <div style="padding:0.5rem;">
        <a class="link" href="{% url 'createOfficial'  %}">Official</a>
      </div>

      {% if isParent == False %}
      <br/>
      <br/>
        <div style="padding:0.5rem;">
          <a class="link" href="{% url 'ParentInfo' id=person  %}">Parent</a>
        </div >
    {% endif %}
    </div>
</div>    


{% endblock %}