{% extends "manageProfile/base.html" %}

{% block content %}
{% load static %}
<div class="TypesHolder">
    <div class="row container">

      <a href="{% url 'creatProfile' id=person profile="Athlate" parent=0 %}">Athlete</a>
      
      <a href="{% url 'ParentInfo' id=person  %}">Parent</a>
        <div class="col-md-4 text-center">
            <h3><b>Athlate<b></h3>
                <form method="post" action="ChooseProfile"/>
                {% csrf_token %}
                    <input type="hidden" name="person" value="{{person}}"/>
                    <input type="submit" value="Save"/>
                </form>
        </div>
        <div class="col-md-4 text-center">
            <h3><b>Parent<b></h3>
        </div>
        <div class="col-md-4 text-center">
            <h3><b>Parent<b></h3>
        </div>
        <div class="col-md-4 text-center">
            <h3><b>Parent<b></h3>
        </div>
    </div>
</div>    


{% endblock %}