{% extends "manageProfile/base.html" %}

{% block content %}
{% load static %}
<style>

    .link{
        width:10%;
        height:100px;
        padding:2rem;
         border:solid 2px;
         justify-content:center;
         align-content:center:
    }

</style>
{% if messages %}
{% for message in messages %}
  <div>
    <center>
        <div style="padding:1rem; background-color:green;color:white">
          <p>
              <h3><b>{{ message }}</b></h3>
          </p>
        </div>
      </center>
    </div>

{% endfor %}
<br/>
{% endif %}
<div>
    <center>
        <div style="padding:1rem; background-color:gray;color:white">
          <p>
              <h3><b>Federation name</b></h3>
          </p>
        </div>
      </center>
</div>
<br/>
<div>
    <input style="border:solid 3px green;padding:2rem" type="text" name="IdentityNumber" placeholder="Search "  class="form-control form-control-lg">
    
 
</div> 
<hr/>

<div>
    <div class="row container" style="padding:2rem; display:flex;flex-direction:row;justify-content:center;align-content:center">

        
      <!--createOfficial   style="padding:0.5rem;"-->
      <div style="padding:0.5rem;">
        <a class="link" href="#">Club</a>
      </div>

      
   
      <div style="padding:0.5rem;">
        <a class="link" href="#">Club</a>
      </div>
      
      <div style="padding:0.5rem;">
        <a class="link" href="#">Club</a>
      </div>


      <div style="padding:0.5rem;">
        <a class="link" href="#">Club</a>
      </div>
      
      <div style="padding:0.5rem;">
        <a class="link" href="#">Club</a>
      </div>

      <div style="padding:0.5rem;">
        <a class="link" href="#">Club</a>
      </div>
      
      <div style="padding:0.5rem;">
        <a class="link" href="#">Club</a>
      </div>
     
    </div>
    <div class="row container" style="padding:2.5rem; display:flex;flex-direction:row;justify-content:center;align-content:center">

        
        <!--createOfficial   style="padding:0.5rem;"-->
        <div style="padding:0.5rem;">
            <a class="link" href="#">Club</a>
        </div>
  
        <br/>
        <br/>
     
        <div style="padding:0.5rem;">
            <a class="link" href="#">Club</a>
        </div>
        <br/>
        <br/>
        <div style="padding:0.5rem;">
            <a class="link" href="#">Club</a>
          </div>

          <div style="padding:0.5rem;">
            <a class="link" href="#">Club</a>
          </div>
  
        <br/>
        <br/>
     
        <div style="padding:0.5rem;">
            <a class="link" href="#">Club</a>
          </div>
        <br/>
        <br/>
        <div style="padding:0.5rem;">
            <a class="link" href="#">Club</a>
          </div>
  
       
      </div>
</div>    


{% endblock %}