{% extends "manageProfile/base.html" %}

{% block content %}
{% load static %}
<div class="container text-center">
    <div>
        <h3><b>Creating Person to create profile</b></h3>
    </div>
</div>
<hr/>
{% if messages %}
{% for message in messages %}
  <div>
    <center>
        <div style="padding:1rem; background-color:green;color:white">
          <p>
              <h3><b>{{ message }}</b></h3>
          </p>
        </div>
      </center>
    </div>

{% endfor %}
{% endif %}
<center>
    <div >
        <div>
            <p>
                Please click below to create new Profile
            </p>
        </div>
        <div>
            <a href="{% url 'personal' id=0 %}">Start</a>
      
           
        </div>
     
    </div>
</center>


{% endblock %}