{% extends "manageProfile/base.html" %}

{% block content %}
{% load static %}

<style>

    .link{
        width:10%;
        height:100px;
        padding:2rem;
         border:solid 2px;
         justify-content:center;
         align-content:center:
    }

</style>
<div class="container text-center">
    <div>
        <h3><b>Creating Person to create profile</b></h3>
    </div>
</div>
<hr/>
{% if messages %}
{% for message in messages %}
  <div>
    <center>
        <div style="padding:1rem; background-color:green;color:white">
          <p>
              <h3><b>{{ message }}</b></h3>
          </p>
        </div>
      </center>
    </div>

{% endfor %}
{% endif %}
<center>
    <div >
        <div>
            <p>
                Please click below to create new Profile
            </p>
        </div>
        <div style="padding:2rem">
            <a class="link" href="{% url 'personal' id=0 %}">Create a profile</a>
            {% if person.personId %}

            <a class="link" href="{% url 'viewPerson' default="none" AtheId=0 %}">My profiles and informations</a>
            {% endif %}
      
           
        </div>
     
    </div>
</center>


{% endblock %}