{% extends "manageProfile/base.html" %}

{% block content %}
{% load static %}
<!--Note the "DefaultProfile" stands for the currently viewed profile or the default if none selected-->
{% if messages %}
{% for message in messages %}
  <div>
    <center>
        <div style="padding:1rem; background-color:green;color:white">
          <p>
              <h3><b>{{ message }}</b></h3>
          </p>
        </div>
      </center>
    </div>

{% endfor %}
{% endif %}

<!---->

    <div class="row container"  style="border:solid;padding:3rem">
        
      
        <!--front end responsiveness needed
        width:99.9%(small screen)
        width:35%(big screen)
        just suggestion
        -->
        <div class="col-md-4" style="border:solid 1px;widh:20p%">

   

                <img src="{{DefaultProfile.ProfileImage.url}}" style="padding:5px;width:inherit"/>  
                <div>
                    <h3><b>{{Person.FirstName}} ({{Default}})
                </div>
            
            <div>
                Your Profiles:{% for item in allPersonProfiles %}
    
                        <a href="{% url 'viewPerson' default=item.type AtheId=0 %}">
                        
                            <b style="padding:2px">
                                {{item.type }}
                                
                                {% if item.Default == True %}
                                    <label>(default) </label>
                                {% endif %}/
    
    
                            </b>
    
                        </a>
    
    
                                        
                              
                {% endfor %}
            </div>

           <label>Join date: {{DefaultProfile.JoinDate}}</label>

        </div >
        
            <div class="card-body p-4 p-md-5 container" style="width:100%;padding:5px">
               <div style="border:solid 1px;padding:5px;width:100%">

                {% if Default == "Official" %}
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Now viewing official profile</h3>
                    <form method="POST" action="createOfficial" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 mb-4">
          
                            <div class="form-outline">
                            
                             <input type="file" name="ProfileImage" disabled accept="image/*"  id="id_ProfileImage" class="form-control form-control-lg">
                              <label class="form-label" for="ProfileImage">Profile Image</label>
                            </div>
          
                          </div>
        
                          <input type="hidden" name="person" value="{{person}}"/>
                         
                          <div class="col-md-6 mb-4">
          
                            <div class="form-outline"  style="display:flex;flex-direction: column">
                                <select required disabled name="Federation" class="form-control form-control-lg" style="display:flex;justify-centent:center">
                                    <!--Federation will be pulled fron the database once funtionality is implemented-->
                                    <option style="width:100%" value="Aquatics"><b>{{DefaultProfile.Federation}}</b></option>
                                 
                                </select>
                               
                              <label class="form-label" for="Federation">Federation</label>
                            </div>
          
                          </div>
                        </div>
                        
                      
                      
          
                  
                    
                  
        
                            <div class="mt-2 pt-2">
                            <input type="text" {{DefaultProfile.Position}} disabled name="Position" placeholder="Position"  class="form-control form-control-lg" required/>
                      
        
                            <label style="width:100%" class="form-label" for="CoachLevel">Position</label>
                          </div>
                  
                        <div class="mt-2 pt-2">
                            <a href="{% url 'updateOfficial' PersonId=Person.personId %}" class="btn btn-primary btn-lg" type="submit"  style="width:100%" >Edit</a>       
                
                        </div>
          
                      </form>
            {% endif %}


                {% if Default == "Parent" %}
                <center>

                    <h3><b>Now viewing the parent profile</b></h3>  
                </center>

                <center>

                    <a href="{% url 'updateParent' parentId=DefaultProfile.ParentId %}" class="btn btn-primary btn-lg" type="submit"  style="width:100%" >Edit</a>       
                
                </center>
                    


                {% endif %}



                {% if Default == "Athlete" %}
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Now viewing athlate profile</h3>
                    <form method="POST" action="ViewInformation" enctype="multipart/form-data">
                    {% csrf_token %}

                    
                    <input type="hidden" name="profiletype" value="{{type}}"/>
                    <div class="row">
                        <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            <label class="form-label" for="Federation">Federation:</label>
                        </div>

                        </div>

                        <input type="hidden" name="person" value="{{Person}}"/>
                    
                        <div class="col-md-6 mb-4">

                        <div class="form-outline" style="display:flex;flex-direction: column">
                            <input type="text"  name="Federation" placeholder="{{DefaultProfile.Federation}}" disabled class="form-control form-control-lg" />
                            
                           
                        </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            <label class="form-label" for="PlayerType">Player type:</label>
                        </div>

                        </div>

                        
                    
                        <div class="col-md-6 mb-4">

                        <div class="form-outline" style="display:flex;flex-direction: column">
                            <input type="text" disabled name="PlayerType" placeholder="{{DefaultProfile.PlayerType}}" disabled class="form-control form-control-lg" />
                            
                           
                        </div>

                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                
                            
                            
                            <label class="form-label" for="AthleteLevel">Athlete Level</label>
                        </div>

                        </div>
                        <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input type="number" disabled name="AthleteLevel" placeholder="{{DefaultProfile.AthleteLevel}}"  class="form-control form-control-lg"/>
                        
                            
                        </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                
                            
                            
                            <label class="form-label" for="ClubName">Club Name</label>
                        </div>

                        </div>
                        <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input type="number" disabled name="ClubName" placeholder="{{DefaultProfile.ClubName}}"  class="form-control form-control-lg"/>
                        
                            
                        </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
        
                            <div class="form-outline">
                           
                                <label class="form-label" for="ClubLevel">Club level</label>
                            </div>
        
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
        
                            <div class="form-outline">
                            <input type="number" disabled name="ClubLevel" placeholder="{{DefaultProfile.ClubLevel}}"  class="form-control form-control-lg" />
                    

                            </div>
        
                        </div>
                        </div>

                    <div class="mt-2 pt-2">
                       
                        <a href="{% url 'ViewInformation' id=DefaultProfile.personId.personId profile="Athlete" %}" class="btn btn-primary btn-lg" type="submit"  style="width:100%" >Edit</a>       
                       
                        {% comment %}
                        

                        <form action="?" method="POST">
                        <div class="g-recaptcha" data-sitekey="1"></div>
                        <br/>
                        <input type="submit" value="Submit">
                        </form> {% endcomment %}
                    </div>

                    </form>
                {% endif %}





                {% if Default == "Coach" %}
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Now viewing coach profile</h3>
                    <form method="POST" action="CreateCoach" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 mb-4">
          
                            <div class="form-outline">
                            
                             <input type="file" disabled value="{{ DefaultProfile.ProfileImage }}" name="ProfileImage" accept="image/*"  id="id_ProfileImage" class="form-control form-control-lg">
                              <label class="form-label" for="ProfileImage">Profile Image</label>
                            </div>
          
                          </div>
        
                          <input type="hidden" name="person" value="{{person}}"/>
                         
                          <div class="col-md-6 mb-4">
          
                            <div class="form-outline" style="display:flex;flex-direction: column">
                                <select disabled required name="Federation" class="form-control form-control-lg" style="display:flex;justify-centent:center">
                                    <!--Federation will be pulled fron the database once funtionality is implemented-->
                                    <option style="width:100%" value="Aquatics"><b>{{ DefaultProfile.Federation }}</b></option>
                                    <option value="Chess"><b>Chess</b></option>
                                </select>
                               
                              <label class="form-label" for="Federation">Federation</label>
                            </div>
          
                          </div>
                        </div>
                        
                      
                      
          
                        <div class="row">
                            <div class="col-md-6 mb-4 pb-2">
            
                              <div class="form-outline">
                                <input type="text" name="ClubName" disabled value="{{DefaultProfile.ClubName}}" class="form-control form-control-lg" placeholder="Club Name"  required/>
                                <label class="form-label" for="ClubName">Club Name</label>
                              </div>
            
                            </div>
                            <div class="col-md-6 mb-4 pb-2">
            
                              <div class="form-outline">
                                <input type="text" disabled value="{{DefaultProfile.CoachLevel}}" name="CoachLevel" placeholder="Coach Level"  class="form-control form-control-lg" required/>
                      
        
                                <label class="form-label" for="CoachLevel">Coach Level</label>
                              </div>
            
                            </div>
                          </div>
          
                        <div class="mt-2 pt-2">
                            <a href="{% url 'updateCoach' PersonId=DefaultProfile.personId.personId CoachId=DefaultProfile.CoachID %}" class="btn btn-primary btn-lg" type="submit"  style="width:100%" >Edit</a>  
                          {% comment %} <form action="?" method="POST">
                            <div class="g-recaptcha" data-sitekey="1"></div>
                            <br/>
                            <input type="submit" value="Submit">
                          </form> {% endcomment %}
                        </div>
          
                      </form>
                {% endif %}
               </div>
            </div>
        
     

    </div>
<div>
    {% if Default == "Parent" %}
    <hr/>
        <div style="border:solid 1px;">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Athlets under your profile</h3>
                <hr/>
                <div style="overflow:hodden; overflow-y:scroll; overflow-y auto;overflow-x:hidden;widh:100%; ">
                    
                    {% for item in Athlets %}
                    <center style="padding:3px">
                        <div style="width:98%; height:60px;border:solid;display:flex;flex-directio:raw;">
                            <img src="{{item.ProfileImage.url}}" style="width:100px;height:inherit;height:90%"/>
                            <div style="height:0%; width:5%">
                            </div>
                            <h4><b>{{item.FirstName}}</b></h4>
                            <div style="height:0%; width:60%">
                            </div>
                            <a href="{% url 'ViewInformation' id=item.PersonId profile="Athlete" %}">Edit</a>
                            <a href="{% url 'viewPerson' default="ParentAthlete" AtheId=item.profile.AthleteID %}">View</a>
                        </div>
                    
                    </center>
                    {% endfor  %}

                </div>
            
        </div>
    
    {% endif %}

</div>



{% endblock %}