{% extends "manageProfile/base.html" %}

{% block content %}
{% load static %}

<style>

    .form-control{
        border:solid 2px;
    }
    .table{
        width:100%;
        border:solid 2px;
       
    }

</style>


<!--Note the "DefaultProfile" stands for the currently viewed profile or the default if none selected-->
{% if messages %}
{% for message in messages %}
  <div>
    <center>
        <div style="padding:1rem; background-color:green;color:white">
          <p>
              <h3><b>{{ message }}</b></h3>
          </p>
        </div>
      </center>
    </div>

{% endfor %}
{% endif %}

<!---->
{% if ParentAthlete == True %}

    <div>
        <p> <b> The information below belongs to the athlete under your name, you can go back to your default profile 
            <a href="{% url 'viewPerson' default="none"  AtheId=0 %}"> HERE</a></b>
        </p>
    </div>



{% endif %}
    <div class="row container"  style="border:solid;padding:10px; display:flex;flex-direction:row">
        
      
        <!--front end responsiveness needed
        width:99.9%(small screen)
        width:35%(big screen)
        just suggestion
        -->
            <div class="col-md-4" style="border:solid 1px;widh:20p%">

   

                <img src="{{DefaultProfile.ProfileImage.url}}" style="padding:5px;width:inherit"/>  
                <div>
                    
                    <h3><b>{{Person.FirstName}} ({{Default}})</h3>
                   
                </div>
            
                <div>
                    Your Profiles:{% for item in allPersonProfiles %}
        
                            <a href="{% url 'viewPerson' default=item.type AtheId=0 %}">
                            
                                <b style="padding:2px">
                                    {{item.type }}
                                    
                                    {% if item.Default == True %}
                                        <label>(default) </label>
                                    {% endif %}/
        
        
                                </b>
        
                            </a>
        
    
                                            
                                
                        {% endfor %}
                </div>

                <label>Join date: {{DefaultProfile.JoinDate}}</label>
                <div>
                        <a class="btn btn-default btn-success"  href="{% url 'ChooseProfile' %}" style="width:inherit;width:100%; background-color:orange;">
                            Add new profile
                        </a>
                </div>
                <hr/>
                <div>
                    
                    <a class="btn btn-default btn-success" 
                    {% if Default == "Person" %}
                        style="width:inherit;width:100%; padding:1rem; background-color:white;color:green;border:solid 2px inherit"
                    {% else %}
                        style="width:100%; padding:1rem;"

                    {% endif %}
                    
                    {% if ParentAthlete == True %}
                        href="{% url 'viewPerson' default="Person"  AtheId=DefaultProfile.AthleteID %}"
                        

                    {% else %}
                    
                    
                        href="{% url 'viewPerson' default="Person"  AtheId=0 %}"
                          
                    {% endif %}>
                    <h3><b>Personal Information</b></h3>
                </a>
                </div>
               
                <br/>
                <div>
                    
                    <a class="btn btn-default btn-success" 
                    {% if Default == "Education" %}
                        style="width:inherit;width:100%; padding:1rem; background-color:white;color:green;border:solid 2px inherit"
                    {% else %}
                        style="width:100%; padding:1rem;"

                    {% endif %}

                    {% if ParentAthlete == True %}
                        href="{% url 'viewPerson' default="Education"  AtheId=DefaultProfile.AthleteID %}"
                    {% else %}
                    
                        href="{% url 'viewPerson' default="Education"  AtheId=0 %}"
                    {% endif %}
                    
                    >
                        <h3><b>Education</b></h3>
                    </a>
                </div>
                <br/>
                <div>
                    
                    <a class="btn btn-default btn-success" 
                    {% if Default == "Employment" %}
                        style="width:inherit;width:100%; padding:1rem; background-color:white;color:green;border:solid 2px inherit"
                    
                    {% else %}
                        style="width:100%; padding:1rem;"

                    {% endif %}
                    
                    {% if ParentAthlete == True %}
                        href="{% url 'viewPerson' default="Employment"  AtheId=DefaultProfile.AthleteID %}"
                    {% else %}
                    
                    href="{% url 'viewPerson' default="Employment"  AtheId=0 %}"
                    {% endif %}
                    >
                        <h3><b>Employment</b></h3>
                    </a>
                </div>
                <br/>
                <div>
                    
                    <a class="btn btn-default btn-success" 
                    {% if Default == "NextOfKin" %}
                        style="width:inherit;width:100%; padding:1rem; background-color:white;color:green;border:solid 2px inherit"
                    
                    {% else %}
                        style="width:100%; padding:1rem;"

                    {% endif %}
                    
                    {% if ParentAthlete == True %}
                    href="{% url 'viewPerson' default="NextOfKin"  AtheId=DefaultProfile.AthleteID %}"

                    {% else %}
                    
                        href="{% url 'viewPerson' default="NextOfKin"  AtheId=0 %}"
                    {% endif %}
                    >
                        <h3><b>Next of kin</b></h3>
                    </a>
                </div>
            </div >
        
            <div class="card-body p-4 p-md-5 container"  style="width:100%;padding:5px;">
            
                <div  
                {% if Default == "Person" %}
                     style="border:solid 1px;padding:5px;width:inherit;width:150%" 
                {% else %}
                    style="border:solid 1px;padding:5px;width:100%"
                {% endif %}>



                {% if Default == "NextOfKin" %}


                <form method="post" action"updateNextOfKin">
                    {% csrf_token %}
                    <!--ethnicity-->
                  

                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                              
                                <input type="text" name="FirstName" disabled value="{{ nextofkin.FirstName}}"  class="form-control form-control-lg">
                                <label class="form-label" for="FirstName">First name</label>
                         
                            </div>
        
                        </div>
      
                       
                       
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline" style="display:flex;flex-direction: column">
                            
                            <input type="text" name="Surname" disabled value="{{ nextofkin.Surname}}"  class="form-control form-control-lg">
                            <label class="form-label" for="Middlename">Surname</label>
                         
                        </div>
        
                        </div>
                    </div>
    
    
    
                    
                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                                
                                <input type="text" name="Title" disabled value="{{ nextofkin.Title}}"  class="form-control form-control-lg">
                                <label class="form-label" for="lastname">Title</label>
                         
                            </div>
        
                        </div>
      
                       
                       
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline" style="display:flex;flex-direction: column">
                          
                            <select required disabled name="Gender" class="form-control form-control-lg" style="display:flex;justify-centent:center">
                                <option value="select"><b>{{ nextofkin.Gender}}</b></option> 
                                
                            </select>
                           
                            <label class="form-label" for="gender">Gender</label>
                         
                        </div>
        
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                              
                                <input type="email" name="EmailAddress" disabled value="{{ nextofkin.EmailAddress}}" class="form-control form-control-lg">
                                <label class="form-label" for="EmailAddress">Email address</label>
                         
                            </div>
        
                        </div>
      
                       
                       
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline" style="display:flex;flex-direction: column">
                            
                            <input type="text" name="PhoneNumber" disabled value="{{ nextofkin.PhoneNumber}}"  class="form-control form-control-lg">
                            <label class="form-label" for="PhoneNumber">Phone number</label>
                         
                        </div>
        
                        </div>
                    </div>
    

                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                              
                                <input type="text" name="HomeAddress" disabled value="{{ nextofkin.HomeAddress}}" class="form-control form-control-lg">
                                <label class="form-label" for="HomeAddress">Home address</label>
                         
                            </div>
        
                        </div>
                        
                       
                       
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline" style="display:flex;flex-direction: column">
                            
                            <input type="text" name="WorkAddress" disabled value="{{ nextofkin.WorkAddress}}"  class="form-control form-control-lg">
                            <label class="form-label" for="WorkAddress">Work address</label>
                        
                        </div>
        
                        </div>
                    </div>
                    

                    

                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline">
                              
                                <input type="text" name="Relationship" disabled value="{{ nextofkin.Relationship}}" class="form-control form-control-lg"/>
                               
                                <label class="form-label" for="Relationship">Relationship</label>
                         
                            </div>
        
                        </div>
                        
                       <!--Jobtitle-->
                       
                        <div class="col-md-6 mb-4">
        
                            <div class="form-outline" style="display:flex;flex-direction: column">
                                <input type="text" name="Jobtitle" disabled value="{{ nextofkin.Jobtitle}}" class="form-control form-control-lg"/>
                               
                               
                                <label class="form-label" for="Jobtitle">Job title</label>
                            
                            </div>
            
                        </div>
                    </div>


                    
                    <input type="text" name="JobDescription" disabled value="{{ nextofkin.JobDescription}}" class="form-control form-control-lg"/>
                               
                               
                    <label class="form-label" for="JobDescription">Job description</label>






                    <a href="{% url 'updateNextOfKin' kinId=nextofkin.ID place="OnView" %}" class="btn btn-default btn-primary" style="width:100%;background-color:green">
                        Edit
                    </a>
                    
                </form>


                {% endif %}











                {% if Default == "Employment" %}
                <div>
                    <a href="{% url 'addEmployment' personId=Person.personId %}">
                        Add new employment achievement
                    </a>
                </div>

                {% if employments %}
                <div>
                   
                    <div>
                        <h3><b>Employment achievements</b></h3>
                    </div>
           
                    <table class="table" >
                        <tr>
                            <th> Company Name</th>
                            <th>Company Address</th>
                            <th>Currently Working</th>
                            <th>Work Position?</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Telephone</th>
                            <th>Skills</th>
                        </tr>
                        
                        {% for item in employments %}

                            <tr>
                                <td>{{item.CompanyName}}</td>
                                <td>{{item.CompanyAddress}}</td>
                                <td>
                                
                                    {% if item.CurrentlyWorking == True %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}

                                
                                </td>

                                <td>{{item.WorkPosition}}</td>
                                <td>{{item.StartDate}}</td>
                                <td>{{item.EndDate}}</td>
                                <td>{{item.Telephone}}</td>
                                <td>{{item.Skills}}</td>
                              
                                <td>
                                    <a href="{% url 'updateEmployment' employmentId=item.Employment_id place="OnView" %}" >Edit</a> |
                                    <!--#(request, educationId, place)-->
                                    <a href="{% url 'removeEmployment' employmentId=item.Employment_id place="OnView" %}" >remove</a>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>
               
            {% endif %}

                {% endif %}
               
                

                {% if Default == "Education" %}
              
                <div>
                    <a href="{% url 'AddEducation' personId=Person.personId %}">
                        Add new Academical achievement
                    </a>
                </div>
                          
                <table class="table" >
                    <tr>
                        <th> Institution</th>
                        <th> Education Level</th>
                       
                        <th> Completed?</th>
                        <th> Action</th>
                    </tr>
                    
                    {% for item in eds %}

                        <tr>
                            <td>{{item.InstitutionName}}</td>
                            <td>{{item.EducationLevel}}</td>
                            
                         
                            <td>{{item.Completed}}</td>
                            <td>
                                <a href="{% url 'updateEducation' educationId=item.education_id  place="OnView" %}" >Edit</a> |
                                <!--#(request, educationId, place)-->
                                <a href="{% url 'removEducation' educationId=item.education_id  place="OnView" %}" >remove</a>
                            </td>
                        </tr>

                    {% endfor %}
                </table>
                
             
              
                <br/>
                <hr/>
                <br/>
            
              
                {% endif %}



                {% if Default == "Person" %}
<!--
    
-->
                <div class="container" style="display:flex;flex-direction:column; width:100%;padding:0rem">
                    <div style="display:flex;flex-direction:row;justify-content:center; padding:1rem">
                        <label class="form-label" style="width:20%;"><b>First name</b></label>
                        <input class="form-control form-control-lg" type="text" disabled value="{{Person.FirstName}}"/>
                    </div>
                   
                    <div style="display:flex;flex-direction:row;justify-content:center;padding:1rem">
                        <label class="form-label" style="width:20%;"><b>Middle name</b></label>
                        <input class="form-control form-control-lg" type="text" disabled value="{{Person.Middlename}}"/>
                    </div>
                    <div style="display:flex;flex-direction:row;justify-content:center;padding:1rem">
                        <label class="form-label" style="width:20%;"><b>Last name</b></label>
                        <input class="form-control form-control-lg" type="text" disabled value="{{Person.lastname}}"/>
                    </div>
                    <div style="display:flex;flex-direction:row;justify-content:center;padding:1rem">
                        <label class="form-label" style="width:20%;"><b>Date of birth</b></label>
                        <input class="form-control form-control-lg" type="text" disabled value="{{Person.FirstName}}"/>
                    </div>
                    <div style="display:flex;flex-direction:row;justify-content:center;padding:1rem">
                        <label class="form-label" style="width:20%;"><b>Id number</b></label>
                        <input class="form-control form-control-lg" type="text" disabled value="{{Person.IdentityNumber}}"/>
                    </div>
                    <div style="display:flex;flex-direction:row;justify-content:center;padding:1rem">
                        <label class="form-label" style="width:20%;"><b>cell phone</b></label>
                        <input class="form-control form-control-lg" type="text" disabled value="{{Person.cellphone}}"/>
                    </div>
                    <div style="display:flex;flex-direction:row;justify-content:center;padding:1rem">
                        <label class="form-label" style="width:20%;"><b>Email address</b></label>
                        <input class="form-control form-control-lg" type="text" disabled value="{{Person.user.email}}"/>
                    </div>
                    <div style="display:flex;flex-direction:row;justify-content:center;padding:1rem">
                        <label class="form-label" style="width:20%;"><b>Home address</b></label>
                        <input class="form-control form-control-lg" type="text" disabled value="{{Person.physicaladdress1}}"/>
                    </div>

                    <div class="mt-2 pt-2">
                        <a href="{% url 'updatePersonal' personId=Person.personId %}" class="btn btn-primary btn-lg" type="submit"  style="width:100%" >Edit</a>       
            
                    </div>
                </div>




                {% endif %}






                {% if Default == "Official" %}
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Now viewing official profile</h3>
                    <form method="POST" action="createOfficial" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 mb-4">
          
                            <div class="form-outline">
                            
                             <input type="file" name="ProfileImage" disabled accept="image/*"  id="id_ProfileImage" class="form-control form-control-lg">
                              <label class="form-label" for="ProfileImage">Profile Image</label>
                            </div>
          
                          </div>
        
                          <input type="hidden" name="person" value="{{person}}"/>
                         
                          <div class="col-md-6 mb-4">
          
                            <div class="form-outline"  style="display:flex;flex-direction: column">
                                <select required disabled name="Federation" class="form-control form-control-lg" style="display:flex;justify-centent:center">
                                    <!--Federation will be pulled fron the database once funtionality is implemented-->
                                    <option style="width:100%" value="Aquatics"><b>{{DefaultProfile.Federation}}</b></option>
                                 
                                </select>
                               
                              <label class="form-label" for="Federation">Federation</label>
                            </div>
          
                          </div>
                        </div>
                        
                      
                      
          
                  
                    
                  
        
                            <div class="mt-2 pt-2">
                            <input type="text" {{DefaultProfile.Position}} disabled name="Position" placeholder="Position"  class="form-control form-control-lg" required/>
                      
        
                            <label style="width:100%" class="form-label" for="CoachLevel">Position</label>
                          </div>
                  
                        <div class="mt-2 pt-2">
                            <a href="{% url 'updateOfficial' PersonId=Person.personId %}" class="btn btn-primary btn-lg" type="submit"  style="width:100%" >Edit</a>       
                
                        </div>
          
                      </form>
                {% endif %}


                {% if Default == "Parent" %}
                <center>

                    <h3><b>Now viewing the parent profile</b></h3>  
                </center>

                <center>

                    <a href="{% url 'updateParent' parentId=DefaultProfile.ParentId %}" class="btn btn-primary btn-lg" type="submit"  style="width:100%" >Edit</a>       
                
                </center>
                    


                {% endif %}



                {% if Default == "Athlete" %}
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Now viewing athlate profile</h3>
                    <hr/>
                    <a href="{% url 'ChooseFederation' %}" class="btn btn-primary btn-lg" type="submit"  style="width:100%" >Join a club</a>       
                       
                    <form method="POST" action="ViewInformation" enctype="multipart/form-data">
                    {% csrf_token %}

                    
                    <input type="hidden" name="profiletype" value="{{type}}"/>
                    <div class="row">
                        <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            <label class="form-label" for="Federation">Federation:</label>
                        </div>

                        </div>

                        <input type="hidden" name="person" value="{{Person}}"/>
                    
                        <div class="col-md-6 mb-4">

                        <div class="form-outline" style="display:flex;flex-direction: column">
                            <input type="text"  name="Federation" placeholder="{{DefaultProfile.Federation}}" disabled class="form-control form-control-lg" />
                            
                           
                        </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            <label class="form-label" for="PlayerType">Player type:</label>
                        </div>

                        </div>

                        
                    
                        <div class="col-md-6 mb-4">

                        <div class="form-outline" style="display:flex;flex-direction: column">
                            <input type="text" disabled name="PlayerType" placeholder="{{DefaultProfile.PlayerType}}" disabled class="form-control form-control-lg" />
                            
                           
                        </div>

                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                
                            
                            
                            <label class="form-label" for="AthleteLevel">Athlete Level</label>
                        </div>

                        </div>
                        <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input type="number" disabled name="AthleteLevel" placeholder="{{DefaultProfile.AthleteLevel}}"  class="form-control form-control-lg"/>
                        
                            
                        </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                
                            
                            
                            <label class="form-label" for="ClubName">Club Name</label>
                        </div>

                        </div>
                        <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input type="number" disabled name="ClubName" placeholder="{{DefaultProfile.ClubName}}"  class="form-control form-control-lg"/>
                        
                            
                        </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
        
                            <div class="form-outline">
                           
                                <label class="form-label" for="ClubLevel">Club level</label>
                            </div>
        
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
        
                            <div class="form-outline">
                            <input type="number" disabled name="ClubLevel" placeholder="{{DefaultProfile.ClubLevel}}"  class="form-control form-control-lg" />
                    

                            </div>
        
                        </div>
                        </div>

                    <div class="mt-2 pt-2">
                       
                        <a href="{% url 'ViewInformation' id=DefaultProfile.personId.personId profile="Athlete" %}" class="btn btn-primary btn-lg" type="submit"  style="width:100%" >Edit</a>       
                       
                        {% comment %}
                        

                        <form action="?" method="POST">
                        <div class="g-recaptcha" data-sitekey="1"></div>
                        <br/>
                        <input type="submit" value="Submit">
                        </form> {% endcomment %}
                    </div>

                    </form>
                {% endif %}





                {% if Default == "Coach" %}
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Now viewing coach profile</h3>
                    <form method="POST" action="CreateCoach" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 mb-4">
          
                            <div class="form-outline">
                            
                             <input type="file" disabled value="{{ DefaultProfile.ProfileImage }}" name="ProfileImage" accept="image/*"  id="id_ProfileImage" class="form-control form-control-lg">
                              <label class="form-label" for="ProfileImage">Profile Image</label>
                            </div>
          
                          </div>
        
                          <input type="hidden" name="person" value="{{person}}"/>
                         
                          <div class="col-md-6 mb-4">
          
                            <div class="form-outline" style="display:flex;flex-direction: column">
                                <select disabled required name="Federation" class="form-control form-control-lg" style="display:flex;justify-centent:center">
                                    <!--Federation will be pulled fron the database once funtionality is implemented-->
                                    <option style="width:100%" value="Aquatics"><b>{{ DefaultProfile.Federation }}</b></option>
                                    <option value="Chess"><b>Chess</b></option>
                                </select>
                               
                              <label class="form-label" for="Federation">Federation</label>
                            </div>
          
                          </div>
                        </div>
                        
                      
                      
          
                        <div class="row">
                            <div class="col-md-6 mb-4 pb-2">
            
                              <div class="form-outline">
                                <input type="text" name="ClubName" disabled value="{{DefaultProfile.ClubName}}" class="form-control form-control-lg" placeholder="Club Name"  required/>
                                <label class="form-label" for="ClubName">Club Name</label>
                              </div>
            
                            </div>
                            <div class="col-md-6 mb-4 pb-2">
            
                              <div class="form-outline">
                                <input type="text" disabled value="{{DefaultProfile.CoachLevel}}" name="CoachLevel" placeholder="Coach Level"  class="form-control form-control-lg" required/>
                      
        
                                <label class="form-label" for="CoachLevel">Coach Level</label>
                              </div>
            
                            </div>
                          </div>
          
                        <div class="mt-2 pt-2">
                            <a href="{% url 'updateCoach' PersonId=DefaultProfile.personId.personId CoachId=DefaultProfile.CoachID %}" class="btn btn-primary btn-lg" type="submit"  style="width:100%" >Edit</a>  
                          {% comment %} <form action="?" method="POST">
                            <div class="g-recaptcha" data-sitekey="1"></div>
                            <br/>
                            <input type="submit" value="Submit">
                          </form> {% endcomment %}
                        </div>
          
                      </form>
                {% endif %}
               </div>
            </div>
        
     

    </div>
<div>
    {% if Default == "Parent" %}
    <hr/>
        <div style="border:solid 1px;">
                <div>
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Athlets under your profile</h3>
                    <div>
                        <a href="{% url 'personal' id=Person.personId %}">
                            Add new Athlete under your profile
                        </a>
                </div>
                <hr/>
                <div style="overflow:hodden; overflow-y:scroll; overflow-y auto;overflow-x:hidden;widh:100%; ">
                    
                    {% for item in Athlets %}
                    <center style="padding:3px">
                        <div style="width:98%; height:60px;border:solid;display:flex;flex-directio:raw;">
                            <img src="{{item.ProfileImage.url}}" style="width:100px;height:inherit;height:90%"/>
                            <div style="height:0%; width:5%">
                            </div>
                            <h4><b>{{item.FirstName}}</b></h4>
                            <div style="height:0%; width:60%">
                            </div>
                            <a href="{% url 'ViewInformation' id=item.PersonId profile="Athlete" %}">Edit</a>
                            <a href="{% url 'viewPerson' default="ParentAthlete" AtheId=item.profile.AthleteID %}">View</a>
                        </div>
                    
                    </center>
                    {% endfor  %}

                </div>
            
        </div>
    
    {% endif %}

</div>



    {% if AllAchievements %}
    <br/>
    <br/>
                        <div style="border:solid 3px green;padding:5px; width:100%">
                          
                            <div>
                                <h3><b>{{type}} achievements</b></h3>
                            </div>
                   
                            <table class="table" >
                                <tr>
                                    <th>Name</th>
                                    <th> Achievement</th>
                                    
                                    <th>Organization</th>
                                    <th> YearOfAchievement</th>
                                    <th> Action</th>
                                </tr>
                                
                                {% for item in AllAchievements %}

                                    <tr>
                                        <td>{{item.NameOfAchievement}}</td>
                                        <td>{{item.TypeOfAchievement}}</td>
                                        <td>{{item.Organization}}</td>

                                        <td>{{item.YearOfAchievement}}</td>
                                        <td>
                                            <a href="{% url 'updateAchievement' id=item.AchievementId type=Default place="OnView" %}" >Edit</a> |
                                            <!--#(request, educationId, place)-->
                                             <a href="{% url 'removeAchievement' id=item.AchievementId type=Default place="OnView" %}" >remove</a>
                                          
                                        
                                        </td>
                                    </tr>

                                {% endfor %}
                            </table>
                        </div>
                       
    {% endif %}

    {% if Default == "Person" %}
    <br/>
    <br/>   
    <div>
        <h4>
        <a href="{% url 'addCustomField' personId=Person.personId place="OnView" %}">
            <b>Add new custom field</b>
        </a>
    </h4>
    </div>

    {% if fields %}
                        <div>
                            <hr/>
                     
                             
                            <div>
                                <h3><b>Additional information</b></h3>
                            </div>
                   
                            <table class="table" >
                                <tr>
                                    <th> Feild Name</th>
                                    <th>Feild Value</th>
                                    
                                    <th> Action</th>
                                </tr>
                                
                                {% for item in fields %}

                                    <tr>
                                        <td>{{item.FeildName}}</td>
                                        <td>{{item.FeildValue}}</td>
                      <!---->
                                        <td>
                                            <a href="{% url 'updateCustomField' fieldID=item.FeildId place="OnView" %}" >Edit</a> |
                                            <!--#(request, educationId, place)-->
                                            <a href="{% url 'removeCustomField' customField=item.FeildId place="OnView" %}" >remove</a>
                                        </td>
                                    </tr>

                                {% endfor %}
                            </table>
                        </div>
                       
                    {% endif %}

    {% endif %}
                
{% endblock %}