{% extends "Login/LoginBase.html" %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'Login/css/image.css' %}">
<style>
  .col {
    width:100%%;

  }
</style>

  <div class="container1">
    {% if messages %}
      {% for message in messages %}
          <div>
              <p>
                  {{ message }}
              </p>
          </div>
      {% endfor %}
    {% endif %}


    {% for field in form %}
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  {% endfor %}

  
    <div class="row">

      <div class="col">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
              <label for="username"><b>Old password</b></label>
              <input placholder="***************" type="password" id="id_old_password" name="old_password" class="form-control" />
          </div>
          <div class="form-group">
              <label for="password"><b>New password</b></label>
              <input placholder="***************"  type="password" name="new_password1" class="form-control" id="id_new_password1"/>
          </div>
          <div class="form-group">
            <label for="password"><b>Confirm password</b></label>
            <input placholder="***************"  type="password" name="new_password2" class="form-control" id="id_new_password2"/>
        </div>
          <input type="submit" value="Change password" /> 
          {% comment %} <button type="submit" class="btn btn-primary">Login</button> {% endcomment %}
        </form>

      </div>

    </div>

  </div>
  <br>
{% endblock %}


<!--

    <form role="form" method="post" style="margin-left: 0%;width:100%;background-color: silver;">
        <div class="box box-primary" style="margin-left: 25%;width:100%;">
            <div class="box-header">
                <h2 class="page-header"><i class="fa fa-lock"></i> Change Password</h2>
                <div class="pull-right">
                    <button type="button" name="Submit" value="Save" class="btn btn-danger"><i class="livicon" data-n="pen" data-s="16" data-c="#fff" data-hc="0" ></i> Save new password</button>
                    <button type="reset" name="Reset" value="Clear" class="btn btn-primary"><i class="livicon" data-n="trash" data-s="16" data-c="#fff" data-hc="0"></i> Clear</button>
                </div>
            </div>
            <br>
            

            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <label>Old Password</label>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            <input class="form-control" id="oldPassword" name="oldPassword" value="" placeholder="Enter the Old Password" type="password">
                        </div>
                    </div>
                    
                </div>
                <br/>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <label>New Password</label>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            <input class="form-control" id="newPassword" name="newPassword" value="" placeholder="Enter the New Password" type="password">
                        </div>
                    </div>
                    
                </div>
                <br/>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <label>Confirm Password</label>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            <input class="form-control" id="confirmPassword" name="confirmPassword" value="" placeholder="Re-enter the New Password" type="password">
                        </div>
                    </div>
                    
                </div>

    </form>
-->